:root {
    --white-color : #fff;
    --black-color : #000;
    --text-color : #333;
    --primary-color : #EE4D2D;
    --border-color : #dbdbdb;
    --height-header-responsive : 74px;
    --height-sort-bar-responsive : 44px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-with {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}

/* test */

.grid__column-2 {
    width: 16.6667%;
    padding: 0 6px;
}

.grid__column-2-4 {
    width: 20%;
    padding: 0 6px;
}

.grid__column-10 {
    width: 83.3333%;
    padding: 0 6px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes headerNotification {
    from {
        transform: scale(0);
        opacity: 0.8;
    } 
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
        opacity: var(--growth-from);
    } 
    to {
        transform: scale(var(--growth-to));
        opacity: var(--growth-to);
    }
}

@keyframes mobileSearchSlideIn {
    from {
        opacity: 0;
        top: calc(var(--height-header-responsive) / 2);
    }
    to {
        opacity: 1;
        top: var(--height-header-responsive);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn ease-in 0.1;
}

.modal__body {
    --growth-from : 0.7;
    --growth-to : 1;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;
}

.modal__inner {

}

.btn {
    min-width: 142px;
    height: 36px;
    border: none;
    background-color: #fff;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.5em;
    outline: none;
    cursor: pointer;
    line-height: 1.6rem;
}

.btn:hover {
    background-color: #e6e6e6;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    margin-left: 8px;
}

.btn.btn--disable {
    color: #949494;
    background-color: #e4e4e4;
}

/* pagination */
.pagination {

}

.pagination-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item--active .pagination-link {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 2px;
}

.pagination-item--active .pagination-link:hover {
    background-color: var(--primary-color);
    opacity: 0.95;
}

.pagination-link {
    text-decoration: none;
    color: #939393;
    font-size: 2rem;
    font-weight: 300;
    padding: 4px 16px;
}

