/* pc low - mobile - tablet*/
@media (max-width: 1239px) {
    .hide__pc-mobile-tablet {
        display: none;
    }
}

/* mobile & tablet */
@media (max-width: 1023px) {
    .hide__mobile-tablet {
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .banner {
        margin-top: 68px;
    }
    .header__cart {
        margin: 4px 10px;
    }
    .header__logo {
        margin: 0;
    }
    .header__cart-list {
        position: fixed;
        top: 75px;
        width: 100%;
    }
    .header__cart-list::after {
        display: none;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide__tablet {
        display: none;
    }
    .header__cart-list {
        padding: 0 calc((100% - 644px) / 2);
    }
}

/* mobile */
@media (max-width: 739px) {
    .hide__mobile {
        display: none;
    }
    
    .header__search {
        margin-left: 12px;
    }
    .header__cart-list {
        padding: 0 12px;
    }
}