/* pc low - mobile - tablet*/
@media (max-width: 1239px) {
    .hide__pc-mobile-tablet {
        display: none;
    }
}

/* mobile & tablet */
@media (max-width: 1023.5px) {
    .hide__mobile-tablet {
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        height: var(--height-header-responsive);
    }
    .banner {
        margin-top: calc(var(--height-header-responsive) + var(--height-sort-bar-responsive));
    }
    .header__cart {
        margin: 4px 10px;
    }
    .header__logo {
        margin: 0;
    }
    .header__cart-list {
        position: fixed;
        top: 75px;
        width: 100%;
    }
    .header__cart-list::after {
        display: none;
    }
    .header__sort-bar {
        display: block;
    }
} 

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide__tablet {
        display: none;
    }
    .header__cart-list {
        padding: 0 calc((100% - 644px) / 2);
    }
    .header__search-history {
        width: 406px;
    }
}

/* mobile */
@media (max-width: 739px) {
    .hide__mobile {
        display: none;
    }
    .header__cart-list {
        padding: 0 12px;
    }
    .header-mobile {
        display: block;
    }
    .header-with-search {
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
    }
    .header__search-container {
        padding: 0 16px;
    }
    .header__search-history {
        position: fixed;
        top: calc(var(--height-header-responsive) + var(--height-sort-bar-responsive));
        left: 0;
        width: 100%;
    }
    .pagination-item {
        margin: 0 2px;
    }
}