.header {
    background-image: linear-gradient(0, #ff6431, #f53e2e);
}

.header__navbar {
    justify-content: space-between;
}

.header__navbar-list {
    padding-left : 0;
    list-style: none;
    line-height: 1.6rem;
}

.header__navbar-item {

}

.header__navbar-item,
.header__navbar-item-link {
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    padding: 0.25rem;
    display: inline-block;
    align-items: center;
    margin: 0 0.1rem;
}

.header__navbar-item-icon {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item--separate {
    position: relative;
}

.header__navbar-item--separate::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 1.6rem;
    width: 0.16rem;
    background-color: #ff6654;
    margin-left: 0.1rem;
}