.header {
    background-image: linear-gradient(0, #ff6431, #f53e2e);
}

.header__navbar {
    justify-content: space-between;
}

.header__navbar-list {
    padding-left : 0;
    list-style: none;
    line-height: 1.6rem;
}

.header__navbar-item {

}

.header__navbar-item,
.header__navbar-item-link {
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    padding: 0.25rem;
    display: inline-block;
    align-items: center;
}

.header__navbar-item--separate::after {
    content: "";
    display: inline-block;
    height: 1.6rem;
    width: 0.16rem;
    background-color: #ff6654;
}